{% extends "base.html" %}

{% block title %}
  {{ event.name }}
{% endblock %}


{% block container %}
  <div class="page-header">
    <h1>{{ event.name }}</h1>
  </div>
  <div class="row">
    <div class="col-md-12 text-right">
      <a href="/export/{{ event.slug }}.csv">Export CSV</a>
    </div>
  </div>

  <!--
    TODO put a calendar of occurrences here, possibly http://arshaw.com/fullcalendar/
  -->
  <ul>
  {% for entry in event.entries() %}
    <li>
      {{ entry }}
      {% if entry.attrs %}
        <dl class="dl-horizontal">
          {% for k, v in entry.attrs|dictsort %}
            <dt>{{ k }}</dt> <dd>{{ v }}</dd>
          {% endfor %}
        </dl>
        {% endif %}
      </li>
  {% endfor %}
{% endblock %}
