{% extends "base.html" %}

{% block container %}
  <div class="page-header">
    <h1>Tracked Events</h1>
  </div>
  {% if session.logged_in %}
    <div class="row">
      <div class="col-md-12 text-right">
        <a href="/logout">Logout</a>
      </div>
    </div>
  {% endif %}
  <ul>
    {% for event in events %}
      <div class="row">
        <div class="col-md-8">
          <a href="/event/{{ event.slug }}"><li>{{ event.name }}</li></a>
        </div>
        <div class="col-md-2">
          {{ event.entry_count() }} entries
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          Latest: {{ event.latest_entry() }}
        </div>
      </div>
    {% endfor %}
  </ul>
{% endblock %}
